.today-tasks {
    background-color: #F5F8FF;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0px 10px 10px lightgray;
    min-height: fit-content;
    display: flex;
    flex-direction: column;
  }
  
  .today-tasks .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .today-tasks .header h5 {
    margin: 5px;
    color: #FF6767;
    font-size: medium;
  }
  
  .today-tasks .bi-clipboard{
    color: #A1A3AB;
  } 